/*reset*/
*{
    margin: o;
    padding: o;
    box-sizing: border-box;


}
@media screen and (min-width: 320px)
{


.img100{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 33.3%);}

}

@media screen and (min-width: 600px) {

    main{
    
        grid-template-columns:1fr 1fr ;
        grid-template-rows:repeat(3, 20%) ;
    
      }
    
    .img-uno, .img-tres{
        grid-row: span 1;
    }
    }

    @media screen and (min-width: 1024px) {


    
        body{
            background-color: rgb(167, 255, 181);
            /*prueba de color para pantalla*/
        }
    }

/*estilos genericos*/


body{
    background-color: rgb(77, 148, 18);
    font-family: Georgia, 'Times New Roman', Times, serif;   
 }

    /*estilos de home*/

    section{

        width:75vw;
        max-width: 1000px;
        min-width:320px;
        margin:auto;
        }
        
    .img100{
        
        width:100%;
        
        align-items: center;
        justify-content: center;
        grid-template-columns: 30fr 30fr 30fr;
        }
    img {

        border-radius: 60%;
        box-shadow: 10px 10px 10px 5px rgb(48, 223, 92),
              5px 5px 5px 10px rgb(24, 124, 108);
              width: 250px;
  
    }
        
    
    header{
        text-align: center;
        padding: 60px;
        font-family: 'Cedarville Cursive', cursive; 
        text-shadow: 8px 8px 8px gray;
    }
    
    header h1{
        background-color: rgb(6, 110, 41);
        color: rgb(174, 223, 152);
        padding: 60px;
        border-top-left-radius: 25px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 75px;
        border-bottom-left-radius: 100px;
        margin-top: 10%;
    
    }

    header img{

         width: 40%;
    }    

    nav{
        text-align: center;
        
    }
    header nav{

        display: inline-block;
        padding: 15px;

        
    }

    header nav ul{
          list-style: none;
          text-align: center;

    }

    header nav ul li{
        display: inline-block;
        margin-left: 20px;
        
        
    }

    header nav ul li a{
        
        text-decoration: none;
        color: rgb(51, 88, 51);
        font-weight: bolder;
        
    }

    

    /*estilos de main*/

    main{
        text-align: center;
        padding: 40px;
        
    }

    main p{
        border-radius: 20px;
        margin-bottom: 50px;
        background-color: rgb(120, 218, 169);
        font-family: 'Times New Roman', Times, serif;
    }
    main h2{
        margin-bottom: 30px;
    }

     footer{
        clear: both;
        background-color: #8ed4bd;
        color: rgb(30, 173, 66);
        text-align: center;
        padding: 10px;
        margin-top: 50px;
    }

    
 #navegacion{
        
     background-color: #55fa8c;
     border-top-left-radius: 25px;
     border-top-right-radius: 50px;
     border-bottom-right-radius: 75px;
     border-bottom-left-radius: 100px;
     width: 250px;
     height: 150px;
     padding: 10px;  
         }

         h1{
            border-radius: 200px;
            padding: 10px;
                 }



#fotos{
    width: 50%;
    height: 50%;
    display: inline-block;
    margin-left: 20px;
}

h3{

    padding: 50px;
}
 
section{
   
    display: flex;
    width: 700px;
    height: 400px;
  }
  section img{
   
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
  section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }

  @media screen and (min-width: 600px) {


    main{
    
        grid-template-columns:1fr 1fr ;
        grid-template-rows:repeat(2, 50%) ;
    
      }
      .img-uno, .img-tres .img-dos{
        grid-row: span 1;
   

    }
    }

    @media screen and (min-width: 1024px) {

        
    
        body{
            background-color: rgb(167, 255, 181);
            /*prueba de color para pantalla*/
        }
    }


    .row {
        display: -webkit-flex;
        display: flex;
        margin-top: auto;
        display: block; /* Hace que cada elemento de la lista ocupe todo el ancho del contenedor */
	padding: 8px 16px; /* Añade un relleno alrededor del contenido del elemento */
	text-decoration: none; /* Elimina el subrayado de los enlaces */
	font-size: 18px; /* Establece el tamaño de la fuente */
	color: #033116; /* Establece el color de la fuente */
    -webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px;
	height: 300px; 
	text-align: justify;
      }
  

  /*hasta aca es version de celular*/



/*inicio MQ PARA tablets-*/

@media screen and (min-width: 600px) {



    main{
    
        grid-template-columns:1fr 1fr ;
        grid-template-rows:repeat(2, 50%) ;
        color: #033116;
    
      }
    
    
    .img-uno, .img-tres{
        grid-row: span 1;
    }
        
    
    .img-cuatro{
        grid-column: span 2;
    
    }
    
    
    } 
    
 